@import './auth-form.css';

.auth-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

.auth-wrapper-two {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 16px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 528px;
  width: 100%;
}

.auth-title {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 40px;
  font-family: 'Montserrat-bold';
  font-weight: 700;
}
