@media (min-width: 769px) {
  .burger-menu-wrapper {
    overflow: hidden;
    max-height: 0;
    width: 0;
    pointer-events: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .burger-menu-wrapper_active {
    left: 0;
  }

  .burger-menu__navigation {
    padding: 0 6px 0 16px;
  }
}
