@media (max-width: 1000px) {
  .form-search__search {
    width: 274px;
  }
}

@media (max-width: 960px) {
  .main__wrap {
    justify-content: center;
  }

  .block-logo {
    display: none;
  }

  .block-title {
    margin-right: 0;
  }

  .burger-menu {
    display: block;
  }

  .aside {
    display: none;
  }

  .wrapper-content {
    justify-content: center;
  }

  .aside {
    display: none;
  }

  .footer {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 94px;
  }

  .main {
    margin-top: 32px;
  }

  .header__wrap {
    justify-content: start;
    gap: 24px;
    max-width: 640px;
  }

  .main-content {
    max-width: 650px;
    gap: 24px;
  }

  .block-user {
    display: none;
  }

  .wrapper-content {
    column-gap: 35px;
    row-gap: 32px;
    height: 1480px;
    overflow: hidden;
  }

  .footer__wrap {
    max-width: 640px;
  }
}

@media (min-width: 680px) {
  ._hidden {
    display: none;
  }

  ._open {
    display: block;
  }
}

@media (max-width: 680px) {
  .header {
    min-height: 76px;
    padding: 24px 16px 15px 16px;
  }

  .main {
    margin-top: 8px;
  }

  ._open {
    display: none;
  }

  ._hidden {
    display: block;
  }

  .wrapper-content {
    row-gap: 16px;
    height: 1445px;
  }

  .form-search__button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  .main-content {
    gap: 16px;
  }

  .search-icon {
    top: 8px;
    left: 8px;
  }

  .button-position {
    width: 32px;
    height: 32px;
  }

  .search-rating {
    width: 16px;
    height: 16px;
  }

  .block-button_span {
    display: none;
  }

  .footer {
    height: 104px;
    min-height: 104px;
  }

  .footer__wrap {
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    padding: 16px 20px 8px 20px;
  }

  .block-author {
    text-align: center;
  }

  .author {
    width: 220px;
  }
}

@media (max-width: 480px) {
  .card-books {
    padding: 8px 16px 0px 16px;
    max-width: 288px;
    width: 100%;
  }

  .card {
    padding: 8px 16px 0px 16px;
  }

  .book {
    max-width: 284px;
    width: 100%;
    padding: 8px 16px 16px 16px;
  }

  .book__image {
    align-self: center;
  }

  .book__submit {
    max-width: 256px;
    width: 100%;
  }

  .wrapper-content {
    height: 2458px;
    row-gap: 16px;
  }

  .author {
    width: 220px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }

  .block-title__page {
    font-size: 18px;
    line-height: 28px;
  }

  .burger-menu {
    width: 24px;
    height: 16px;
  }

  .burger-menu__middle,
  .burger-menu::before,
  .burger-menu::after {
    width: 20px;
    height: 2px;
  }
}
