@import './button-arrow.css';

.aside {
  display: flex;
  flex-direction: column;
  min-width: 279px;
}

.aside__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper-title-aside {
  display: flex;
  justify-content: space-between;
  width: 255px;
  height: 36px;
  padding-right: 12px;
  cursor: pointer;
}

.wrapper-title-aside_active-link {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -moz-border-image: -moz-linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-border-image: -webkit-linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-image-slice: 1;
}

.active-link__aside_title {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper-title-aside__title {
  font-family: 'Montserrat-bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.wrapper-title-aside__subtitle {
  font-family: 'Montserrat-reg';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #363636;
  cursor: pointer;
}

.wrapper-title-aside__subtitle_active-link {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat-bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  word-break: break-all;
}

.genres-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}

.genres-block_hidden {
  max-height: 0;
  overflow: hidden;
  width: 0;
  pointer-events: none;
  position: absolute;
}

.genres-block__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Montserrat-reg';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #363636;
}

.genres {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  transition: all 0.3s ease;
}

.genres__name:hover {
  color: #ff5253;
  cursor: pointer;
}

.genres__name_position {
  width: 190px;
}

.wrapper-title-aside__subtitle_active-link ~ .genres__count_position_active {
  left: 120px;
}

.genres__count_position {
  position: absolute;
  bottom: 2px;
  left: 105px;
}

.genres__count {
  font-size: 14px;
  color: #a7a7a7;
}

.aside__link-docs {
  width: 255px;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #363636;
}

.active-link__aside {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -moz-border-image: -moz-linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-border-image: -webkit-linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-image-slice: 1;
}
