@media (max-width: 1000px) {
  .head-books-page {
    grid-template-columns: 400px 30px 1fr;
    grid-template-rows: 1fr 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .wrapper-book-page {
    gap: 0;
  }

  .head-books-page_single {
    grid-template-columns: 400px 30px 1fr;
    grid-template-rows: 1fr 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .meta-info__books {
    margin-bottom: 32px;
  }

  .wrapper-cover-empty,
  .head-book-page__image {
    width: 400px;
    height: 470px;
  }

  .meta-info__button {
    margin-top: 0;
    width: 306px;
  }

  .book__cats-empty-cover {
    top: 42%;
    left: 44%;
  }

  .comments {
    margin-bottom: 26px;
  }

  .comments_closed {
    margin-bottom: 0;
  }

  .meta-info-title-block_closed {
    margin-bottom: 26px;
  }
}

@media (max-width: 870px) {
  .head-books-page {
    grid-template-columns: 330px 30px 1fr;
    grid-template-rows: 508px 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .head-books-page_single {
    grid-template-columns: 136px 30px 1fr;
    grid-template-rows: 1fr 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .swiper-slide-visible {
    width: 55px;
  }

  .wrapper-cover-empty,
  .head-book-page__image {
    width: 136px;
    height: 198px;
  }

  .head-book-page__image_swiper {
    width: 330px;
    height: 390px;
  }

  .meta-info {
    margin-bottom: 0;
  }

  .meta-info__button_size {
    width: 100%;
  }

  .book__cats-empty-cover {
    top: 34%;
    left: 30%;
    transform: scale(0.6);
  }
}

@media (min-width: 769px) {
  .swiper-pagination {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .mySwiperDown {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

  .mySwiperUp {
    padding-bottom: 38px;
  }

  .swiper-pagination {
    bottom: 0 !important;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    background: #000000;
    width: 7px;
    height: 7px;
  }

  .swiper-pagination-bullet-active {
    background: #363636;
    width: 9px;
    height: 9px;
  }

  .wrapper-book-page {
    max-width: 640px;
  }

  .navigation-page {
    max-width: 640px;
  }

  .nav-list {
    font-size: 16px;
    line-height: 24px;
  }

  .wrapper-cover-empty {
    width: 136px;
    height: 198px;
  }

  .book__cats-empty-cover {
    top: 34%;
    left: 30%;
    transform: scale(0.6);
  }

  .head-books-page {
    grid-template-columns: 136px 30px 1fr;
    grid-template-rows: 254px 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .head-books-page_single {
    grid-template-columns: 136px 30px 1fr;
    grid-template-rows: 254px 48px auto 52px;
    grid-template-areas:
      'img ... info'
      '... ... ...'
      'descr descr descr';
  }

  .head-book-page__image {
    width: 136px;
    height: 198px;
  }

  .main-book-page {
    margin-bottom: 48px;
  }

  .meta-info__books {
    font-size: 24px;
    line-height: 30px;
  }

  .meta-info__author {
    font-size: 14px;
    line-height: 18px;
  }

  .ratio-block__ratio {
    font-family: 'Montserrat-semi';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .descriprion__name {
    font-family: 'Montserrat-semi';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    height: 40px;
    width: 313px;
    border-bottom: 1px solid #f9f9fa;
  }

  .description {
    gap: 16px;
  }

  .ratio-block {
    height: 84px;
    max-width: 313px;
    width: 100%;
  }

  .body-books-page {
    gap: 52px;
  }

  .meta-info-title-block {
    align-items: flex-start;
    max-width: 313px;
    width: 100%;
  }

  .content__list-item-two,
  .content__list-item {
    font-size: 14px;
    line-height: 18px;
  }

  .content__list-item_genre {
    height: 36px;
  }
}

@media (max-width: 680px) {
  .meta-info-content {
    flex-direction: column;
    gap: 16px;
  }

  .content-one {
    height: auto;
    width: auto;
  }

  .content-two {
    max-width: 635px;
    width: 100%;
    gap: 85px;
  }

  .content__list-item_genre {
    height: 16px;
  }
}

@media (max-width: 600px) {
  .navigation-page {
    height: 92px;
  }

  .descriprion__name {
    max-width: 313px;
    width: 100%;
  }

  .nav-list {
    font-size: 12px;
    line-height: 16px;
  }

  .head-books-page {
    grid-template-areas:
      'img'
      '...'
      'info'
      '...'
      'descr'
      '...';
    grid-template-columns: 1fr;
    grid-template-rows: 300px 16px auto 42px auto 42px;
    justify-items: center;
  }

  .head-books-page_single {
    grid-template-areas:
      'img'
      '...'
      'info'
      '...'
      'descr'
      '...';
    grid-template-columns: 1fr;
    grid-template-rows: 260px 16px auto 42px auto 42px;
    justify-items: center;
  }

  .meta-info {
    align-items: center;
  }

  .wrapper-cover-empty,
  .head-book-page__image,
  .wrapper-img-books {
    width: 188px;
    height: 260px;
  }

  .book__cats-empty-cover {
    top: 39%;
    left: 36%;
    transform: scale(0.9);
  }

  .meta-info__books {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    text-align: center;
  }

  .meta-info__author {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 42px;
  }

  .ratio-block__ratio,
  .descriprion__name {
    font-family: 'Montserrat-bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
}

@media (max-width: 500px) {
  .head-comment {
    gap: 18px;
  }
  .wrapper-data-comment {
    flex-direction: column;
    gap: 3px;
  }

  .card-comment {
    gap: 8px;
  }

  .review-block-empty {
    gap: 20px;
  }

  .stars-block-empty {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

@media (max-width: 360px) {
  .main-wrap-book-page {
    padding: 0 16px;
  }

  .main-book-page {
    margin-top: 8px;
    margin-bottom: 20px;
    gap: 20px;
  }

  .meta-info {
    align-items: flex-start;
  }

  .meta-info__button {
    align-self: flex-start;
    width: 100%;
  }

  .descriprion__name {
    height: 28px;
  }

  .descrtiption-content {
    font-size: 12px;
    line-height: 18px;
    gap: 0;
  }

  .ratio-full {
    line-height: 28px;
  }

  .ratio-block {
    height: auto;
    gap: 8px;
  }

  .ratio-none {
    margin-bottom: 0;
  }

  .stars-block-empty {
    height: auto;
    padding-top: 8px;
  }

  .stars-block {
    height: 46px;
  }

  .body-books-page {
    gap: 24px;
  }

  .wrapper-stars-empty {
    gap: 16px;
    width: auto;
  }

  .wrapper-stars-full {
    width: 218px;
  }

  .star-empty,
  .star-full {
    width: 34px;
    height: 34px;
  }

  .meta-info__books {
    text-align: start;
  }

  .content__list-item-two,
  .content__list-item {
    font-size: 12px;
    line-height: 16px;
  }

  .content-two,
  .content-one {
    gap: 40px;
    justify-content: start;
  }

  .content__list-two,
  .content__list-one {
    width: auto;
  }

  .card-comment .wrapper-stars-full {
    width: auto;
  }

  .card-comment .wrapper-stars-full .star-full {
    width: 24px;
    height: 24px;
  }

  .comments {
    gap: 32px;
  }
}
