.body-meta-info {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meta-info-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 75px;
}

.content-one {
  display: flex;
  justify-content: space-between;
  width: 329px;
  height: 184px;
  gap: 33px;
}

.content-two {
  display: flex;
  justify-content: space-between;
  width: 635px;
  gap: 33px;
}

.content__list-one {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 120px;
}

.content__list-item {
  font-family: 'Montserrat-semi';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #a7a7a7;
}

.content__list-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 139px;
}

.content__list-item-two {
  font-family: 'Montserrat-reg';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #363636;
}

.content__list-two_size {
  max-width: 445px;
  width: 100%;
}
