.ratio-block {
  width: 350px;
  height: 88px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ratio-block__ratio {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #363636;
  padding-bottom: 1px;
}

.stars-block-empty,
.stars-block {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  height: 40px;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

.wrapper-stars-empty {
  display: flex;
  gap: 12px;
  width: 168px;
}

.star-full,
.star-empty {
  width: 24px;
  height: 24px;
}

.ratio-none {
  font-family: 'Montserrat-reg';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #363636;
  margin-bottom: 3px;
}

.ratio-full {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #363636;
}

.wrapper-stars-full {
  display: flex;
  gap: 12px;
  width: 168px;
}
