@import './styles/font-face.css';
@import './styles/header.css';
@import './styles/loaded.css';
@import './styles/burger-menu.css';
@import './styles/main-page.css';
@import './styles/search.css';
@import './styles/mobile-search.css';
@import './styles/aside.css';
@import './styles/cards.css';
@import './styles/card-list.css';
@import './styles/footer.css';
@import './styles/books-page/book-page.css';
@import './styles/docs-page/docs-page.css';
@import './styles/adaptiv-main-page.css';
@import './styles/adaptiv-content-list.css';
@import './styles/books-page/adaptiv-book-page.css';
@import './styles//docs-page//contract-adaptiv.css';
@import './styles/adaptiv-burger.css';
@import './styles/loading/media-error.css';

body {
  height: 100vh;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #363636;
  letter-spacing: 0.1px;
}

html,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

.wrapper-content-burger {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
